// Colors
$clr1: rgb(245, 229, 229);
$clr2: #e3eff7;
$clr3: #ffaaab;
$clr4: #feb300;
$clr5: #ff5e6c;
$clr6: #2d7797;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;